html {
    background-color: #fff;
    text-align: center;
}
body {
    display: inline-flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    padding: 1em 1em 0;
    box-sizing: border-box;
}
h1 {
    margin-top: 0;
}
.panel {
    display: inline-flex;
    background-color: #ccc;
    padding: 1em;
    border-radius: .5em;
    margin-bottom: 1em;
    min-height: 3em;
}
label {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #999;
    margin-right: .5em;
    padding: .5em;
    border-radius: .25em;
}
.sub {
    font-style: italic;
    font-size: .75em;
    text-align: right;
}
#update {
    font-size: 3em;
    font-weight: bold;
}
.circles {
    position: relative;
    width: 0;
    height: 0;
    margin: 50%;
}
.disk {
    background-color: #000;
    color: #ddd;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 1em;
    height: 1em;
    line-height: 1em;
}
.center {
    background-color: transparent;
    box-sizing: border-box;
    border: 1px dashed #000;
    width: 1em;
    height: 1em;
}